/** cssreset.com **/
* {
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5em;
  margin: 0;
  outline: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

/** clearfix **/
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/** global **/

body {
  background: #eee;
  text-align: center;
  padding: 0 10px;
  font-family: Montserrat, Helvetica-Neue, Arial, sans-serif;
}

#main {
  width: 960px;
  margin: auto;
  text-align: left;
  background: white;
  padding: 50px 60px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
  height: 940px;
}

/** header **/

/** sidebar navigation **/
aside {
  float: left;
  margin-right: 20px;
  width: 200px;
}

.friends {
  border: 3px solid red;
  margin-bottom: 20px;
  padding: 10px;
}

.friends h3 {
  margin-bottom: 10px;
}

#friends-list li {
  display: inline-block;
}

strong {
  font-style: bold;
}

.rooms {
  border: 3px solid red;
  margin-bottom: 20px;
  padding: 10px;
}

.rooms h3 {
  margin-bottom: 10px;
}

#rooms-list {
  margin-bottom: 10px;
}

.rooms li {
  display: inline-block;
}

.separate {
  display: block;
}

button {
  display: inline-block;
  float: right;
}

.delete {
  color: #666;
  background-color: white;
}

.delete:hover {
  color: red;
}

/** messages **/
section {
  float: left;
  width: 615px;
  border: 3px solid red;
  padding: 10px;
}

section h3 {
  margin-bottom: 10px;
}

input {
  border: 2px solid #ccc;
  padding: 5px 15px 5px 15px;
  width: 100%;
}

.messages-container {
  margin-bottom: 20px;
  height: 500px;
  overflow-y: auto;
}

section a {
  color: blue;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/** default styles **/

#main h1 {
  margin-top: 0;
  font-size: 35px;
  margin-bottom: 5px;
  padding: 5px;
}

#main h1 span {
  font-style: italic;
}

#main ul {
  padding-left: 20px;
}

#main .error {
  border: 1px solid red;
  background: #FDEFF0;
  padding: 20px;
}

#main .success {
  margin-top: 25px;
}

#main .success code {
  font-size: 12px;
  color: green;
  line-height: 13px;
}

form {
  padding: 20px;
  padding-left: 0;
  margin-bottom: 20px;
}

form input[type=text] {
  margin-right: 10px;
  width: 70%;
  font-size: 12px;
  padding: 5px;
}

.chat {
  padding: 5px;
  margin-bottom: 5px;
  background-color: #eee;
}

.chat .username {
  font-weight: 800;
}

.chat:hover {
  background-color: #ddd;
}

.spinner {
  float: right;
  height: 46px;
  margin-bottom: 5px;
}

.spinner img {
  padding: 10px;
}
